@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{ ViewData["Title"] = "Profile"; }

<h1 class="mb-4">@Model.Walker.Name</h1>

<section class="container">
    <div class="row">
        <div class="col-3">
            @if (@Model.Walker.ImageUrl != null)
            {
                <img src="@Model.Walker.ImageUrl" style="width:50px" />
            }
            else
            {
                <p>No Image</p>
            }
        </div>
        <div class="col-9">
            <p>Name: @Model.Walker.Name</p>
            <p>Neighborhood: @Model.Walker.Neighborhood.Name</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Client</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date</th>
                        <th scope="col">Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Walk walk in Model.Walks)
                    {
                        <tr>
                            <td>@Html.Label(walk.Date.ToShortDateString()) </td>
                            <td>@walk.Dog.Name</td>
                            <td> @(@walk.Duration/60) mins</td>
                            <td>@walk.Date</td>
                            @if (walk.IsPending)
                            {
                               <td>Yes</td> 
                            }
                            else 
                            { 
                                <td>No</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6 col-md-12">Total Walk Time @Model.TotalWalkTime()</div>
    </div>
</section>