@model IEnumerable<DogGo.Models.Walker>

@{
    ViewData["Title"] = "Index";
}

<h1>Dog Walkers</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm mb-4">
            <div class="card" style="width: 18rem;">
                <img src="@item.ImageUrl" alt="avatar"  class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">Neighborhood: @Html.DisplayFor(modelItem => item.Neighborhood.Name)</p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
        </div>
    }
</div>


