@model DogGo.Models.ViewModels.ProfileViewModel

@{ ViewData["Title"] = "Profile"; }
<div>
    <h1 class="mb-4">@Model.Owner.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div>
            <label class="font-weight-bold">Address:</label>
            <span>@Model.Owner.Address</span>
        </div>
        <div>
            <label class="font-weight-bold">Phone:</label>
            <span>@Model.Owner.Phone</span>
        </div>
        <div>
            <label class="font-weight-bold">Email:</label>
            <span>@Model.Owner.Email</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-7">
            <h2 class="text-left">Dogs</h2>
            <input type="button" class=" btn btn-success" value="Add Dog" onclick="location.href='@Url.Action("Create", "Dog")'" />

            <div class="row">
                @foreach (Dog dog in Model.Dogs)
                {
                    <div class="card m-1" style="width: 18rem;">
                        @if (String.IsNullOrEmpty(dog.ImageUrl))
                        {
                            <img src="https://cdn.pixabay.com/photo/2018/08/15/13/12/dog-3608037_960_720.jpg"
                                 class="card-img-top"
                                 alt="Doggo" />
                        }
                        else
                        {
                            <img src="@dog.ImageUrl" class="card-img-top" alt="Doggo" />
                        }
                        <div class="card-body">
                            <div>
                                <label class="font-weight-bold">Name:</label>
                                <span>@dog.Name</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Breed:</label>
                                <span>@dog.Breed</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Notes:</label>
                                <p>@dog.Notes</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="button" class=" btn btn-secondary" value="Edit Dog" onclick="location.href='@Url.Action("Edit", "Dog")' + '/@dog.Id'" />
                                </div>
                                <div class="col">
                                    <input type="button" class=" btn btn-danger" value="Delete Dog" onclick="location.href='@Url.Action("Delete", "Dog")' +  '/@dog.Id'" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="col-5">
            <h4>Walkers Near Me</h4>

            <ul class="list-group mt-4">
                @foreach (Walker walker in Model.Walkers)
                {
                    <li class="list-group-item">
                        <img src="@walker.ImageUrl" style="width:50px" />
                        <span class="font-weight-bold ml-4">@walker.Name</span>
                        <input type="button" class="btn btn-secondary float-right" value="Schdule Walk" onclick="location.href='@Url.Action("Create", "Walks", new { walkerId = @walker.Id})'" />
                    </li>
                }
            </ul>

            <h4 class="mt-5">Upcoming Walks</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Walker</th>
                        <th scope="col">Dog</th>
                        <th scope="col">Time & Date</th>
                        <th scope="col">Confirmed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Walk walk in Model.Walks)
                    {
                        <tr>
                            <th>@walk.Walker.Name</th>
                            <td>@walk.Dog.Name</td>
                            <td>@walk.Date</td>
                            <td>Pending</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>
